{
  "name": "com.cogito11.password_vault",
  "description": "Password Vault local companion",
  "path": "__HOST_PATH__",
  "type": "stdio",
  "allowed_origins": ["chrome-extension://__EXTENSION_ID__/"]
}
